* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
    background-image: radial-gradient(circle at 12.5% 12.5%, #dcb744 0, #e5af41 5.56%, #eea740 11.11%, #f59c40 16.67%, #fa9141 22.22%, #ff8444 27.78%, #ff7547 33.33%, #ff644c 38.89%, #ff5152 44.44%, #ff3858 50%, #fb1160 55.56%, #f50069 61.11%, #ed0075 66.67%, #e40082 72.22%, #d80090 77.78%, #ca009f 83.33%, #b800ae 88.89%, #a300bd 94.44%, #8912cb 100%);
}

::-webkit-scrollbar {
    width: 10px;
    background-image: radial-gradient(circle at 12.5% 12.5%, #dcb744 0, #e5af41 5.56%, #eea740 11.11%, #f59c40 16.67%, #fa9141 22.22%, #ff8444 27.78%, #ff7547 33.33%, #ff644c 38.89%, #ff5152 44.44%, #ff3858 50%, #fb1160 55.56%, #f50069 61.11%, #ed0075 66.67%, #e40082 72.22%, #d80090 77.78%, #ca009f 83.33%, #b800ae 88.89%, #a300bd 94.44%, #8912cb 100%);
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

#redes a svg {
    font-size: 50px;
    color: white;
    padding: 10px;
}

header {
    background-size: cover;
    background-attachment: fixed;
    font-size: 1vw;
    height: 100vh;
    padding: 75px;
    color: white;
    text-align: center;
}

img {
    width: 25vw;
    height: 60vh;
    border-radius: 100px;
}

#info a {
    text-decoration: none;
    color: #000;
}

.column2 {
    width: 50%;
    padding: 50px;
    float: left;
    padding-top: 10px;
}

#info {
    background-color: white;
    border-radius: 50px;
    margin: 50px;
    text-align: justify;
    padding: 5px;
}

.About>h2 {
    font-size: 30px;
}


/*Experiencia*/

.column1 {
    width: 100%;
    float: left;
    padding: 10px;
}

#experience {
    background-color: white;
    border-radius: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
}

#experience .column1 {
    color: blueviolet;
    text-align: center;
    font-size: 40px;
}


/*Barra de progreso*/

.box {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    transition: transform .2s;
    padding: 5px;
}

.box:hover {
    transform: scale(1.2);
}

.box .percent {
    width: 150px;
    height: 150px;
    position: relative;
}

.box .percent svg {
    width: 150px;
    height: 150px;
    position: relative;
}

.box .percent svg circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

.box .percent svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #FBB0D1;
}


/*Spanish*/

.box .spanish svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 100) / 100);
    stroke: blueviolet;
}


/*Catalán*/

.box .catalan svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 100) / 100);
    stroke: blueviolet;
}


/*Inglés*/

.box .english svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 50) / 100);
    stroke: blueviolet;
}


/*HTML-5*/

.box .html svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: red;
}


/*CSS-3*/

.box .css svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke: red;
}


/*Java*/

.box .java svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 20) / 100);
    stroke: red;
}


/*C##*/

.box .csh svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 30) / 100);
    stroke: red;
}


/*liderazjo*/

.box .lider svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: yellow;
}


/*Compromiso*/

.box .comp svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 100) / 100);
    stroke: yellow;
}

.box .percent .num {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.box .percent .num h2 {
    font-size: 30px;
}

.box .percent .num h2 span {
    font-size: 24px;
}

.box .text {
    padding 10px 0 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.box .blueviolet {
    color: blueviolet;
}

.box .red {
    color: red;
}

.box .amarillo {
    color: yellow;
}

#studies {
    background-color: white;
    border-radius: 50px;
    margin: 50px;
    text-align: center;
    color: blueviolet;
}

#studies>.column1 {
    font-size: 40px;
    padding-bottom: 5px;
}

.column1>h2 {
    font-size: 2vw;
}

.column2>h2 {
    font-size: 20px;
}

.column2>h3 {
    font-size: 10px;
    color: black;
}

.secun {
    height: 60vh;
    width: 35vw;
}

.medi {
    height: 60vh;
    width: 35vw;
}

#video {
    background-color: white;
    border-radius: 50px;
    margin: 50px;
    text-align: center;
    color: blueviolet;
    font-size: 30px;
    padding-bottom: 10px;
}

.video>iframe {
    width: 70vw;
    height: 90vh;
    border-color: blueviolet;
}

footer {
    background-color: white;
    border-radius: 50px;
    margin: 50px;
    text-align: center;
    color: blueviolet;
    font-size: 10px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 10px;
}

@media screen and (max-width:700px) {
    header h1 {
        font-size: 5vw;
    }
    header p {
        font-size: 3vw;
    }
    img {
        width: 50vw;
    }
    header {
        padding: 20px;
        padding-bottom: 5px;
    }
    #info {
        margin: 10px;
        padding: 5px;
    }
    .column2 {
        width: 100%;
    }
    .box {
        width: 50%;
    }
    #experience {
        margin: 10px;
    }
    footer {
        margin: 50px;
        padding: 10px;
    }
    .box:hover {
        transform: scale(1.1.5);
    }
    .video>iframe {
        height: 50vh;
        width: 60vw;
    }
    #video {
        font-size: 2vw;
        padding-bottom: 10px;
        margin: 10px;
        padding: 10px;
    }
    .column3 {
        width: 100%;
    }
    .column2>iframe {
        width: 100%;
        height: 40vh;
    }
    #studies {
        margin: 10px;
        padding: 5px;
    }
    .secun {
        height: 50vh;
        width: 100%;
    }
    .medi {
        height: 50vh;
        width: 100%;
    }
    .column1>h2 {
        font-size: 7vw;
    }
    .box:hover {
        transform: scale(1.0);
    }
}